// =============================================================================
// Custom properties (variables) for custom colors, including the brand colors,
// primary and secondary palettes.
// =============================================================================

:root {
    --color-brand-primary: #004b8d;

    // Monochromatic
    --color-white: #fff;
    --color-black: #000;
    --color-grey-10: #f3f3f3;
    --color-grey-20: #dcdcdc;
    --color-grey-40: #a6a6a6;
    --color-grey-50: #939393;
    --color-grey-65: #616161;
    --color-grey-70: #595959;
    --color-grey-80: #3a3a3a;
    --color-grey-90: #202020;

    // semi-transparent:
    --color-transparent-white-50: rgba(255, 255, 255, 0.05);
}
