body {
    // Relative line height magic
    --lineHeightFixedAmount: 0.625rem;
    --lineHeightRelativeAmount: 1em;
    --globalLineHeight: calc(var(--lineHeightFixedAmount) + var(--lineHeightRelativeAmount));
}
* {
    line-height: var(--globalLineHeight);
}

h1,
.as-h1 {
    @include h1;
}
h2,
.as-h2 {
    @include h2;
}
h3,
.as-h3 {
    @include h3;
}
h4,
.as-h4 {
    @include h4;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: rem(16);

    // Headings should have space above (unless it's the first item in rich-text,
    // then the space is removed (further down)
    margin-top: rem(40);

    // A heading followed by another heading should have less space
    & + :is(h2, h3, h4, h5, h6) {
        margin-top: rem(24);
    }
}

ul,
ol {
    margin-bottom: 1.25em;
}

p {
    margin-bottom: 0.75em;
}

a {
    color: currentColor;
}

// A "body text" wrapper. Most typographic styles don't need top be scoped in here.
// But the high-specificity list item stuff is particularly useful as we don't want
// to have to unset this from non-content-style lists (e.g. navs).
.rich-text {
    ul,
    ol {
        --list-item-space: 0.5em;
        li {
            margin-top: var(--list-item-space);
            &:first-of-type {
                margin-top: var(--list-item-space);
            }
        }
        ul,
        ol {
            margin-bottom: 0;
            margin-top: var(--list-item-space);
        }
    }

    // Remove extra space at start/end of rich-text block
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
