// NextJs has this wrapper we can't access/modify.
// So we need to style it by ID.
#__next {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html,
body {
    min-height: 100%;
}
body {
    font-family: $font-family-primary;
    color: var(--color-grey-90);

    --text-underline-offset: 0.2em;
    --text-decoration-thickness: 1px;

    // Prevent long strings like email addresses from causing horizontal scrolling.
    overflow-wrap: break-word;

    // Can apply to things that look like links (e.g. buttons), but is only applied when
    // the  text decoration is applied, so should be safe to do here.
    text-underline-offset: var(--text-underline-offset);

    //user agent stylesheet is more specific than a{...} :/
    text-decoration-thickness: var(--text-decoration-thickness) !important;
}

a {
    text-decoration-thickness: inherit;

    --link-decoration-color: currentColor;

    text-decoration-color: var(--link-decoration-color);

    &:hover {
        text-decoration-color: var(--link-decoration-color);
    }
}

img {
    width: 100%;
}
