// Font sizes.
// Use these variables ($font-[something]) instead of using the rem() fucntion directly
// so we use only the constrained set of font-size variables.
$font-14: rem(14);
$font-16: rem(16);
$font-18: rem(18);
$font-20: rem(20);
$font-22: rem(22);
$font-24: rem(24);
$font-32: rem(32);
$font-40: rem(40);
$font-56: rem(56);
$font-64: rem(64);

$font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-family-secondary: Georgia, serif;
