// Misc mixins

@mixin visuallyHidden {
    position: absolute !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
}

@mixin link-styles {
    --link-color: var(--color-brand-primary);
    --link-color-hover: var(--color-black);
    --link-decoration-color: var(--color-brand-primary);

    text-decoration-line: underline;
    text-underline-offset: var(--text-underline-offset);
    text-decoration-color: var(--link-decoration-color);
    color: var(--link-color);

    &:hover {
        color: var(--link-color-hover);
    }
}
