// Standard responsive grid with gaps, different by breakpoint.
// If you need something different to this, use the mixins further down.
@mixin grid-standard {
    display: grid;
    // --standard-cols is a global css var that changes at each breakpoint
    grid-template-columns: repeat(var(--standard-cols), minmax(0, 1fr));
    @include grid-standard-col-gaps;
}

@mixin grid-standard-col-gaps {
    column-gap: var(--standard-gap);
}

// Mixins for bespoke grid rules
@mixin grid($cols: 12) {
    display: grid;
    grid-template-columns: repeat($cols, minmax(0, 1fr));
}

@mixin row-gap($row-gap: var(--standard-gap)) {
    row-gap: $row-gap;
}
